/*
Color-amarillo: #f7b617
Color gris (footer): #2b2b2b 
*/

*{
	font-family: 'Raleway', sans-serif;
}

/*Navbar...................*/
.navbar-default {
	background-color:#fff;
	border-color:#fff;
	background-image:none;
	box-shadow:none;
	padding: 2% 5%;
}

/*para cambiar el color del hover del scroll spy*/
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover{
	background: #fed136;
	color: black;
	border-radius: 3px;
	padding: 10px;
	margin-top: 5px;
}

.navbar-toggle{
	background-color: #fed136;
} 


.navbar-color{
	background-color: #001510;
}

/*first section............*/
.first-section{
	background: url(../img/taxi.jpg) 50% 50% / 100% no-repeat fixed;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.caja-amarilla{
	margin-top: 200px;
	background-color: #f7b617;
	padding: 3%;
}

.mt-0{
	margin-top: 0;
}

/*information*/

#information{
	background-color: #f7b617;
	padding: 2% 0;
}