/*
Color-lab: #f7b617
Color gris (footer): #2b2b2b 
*/

.first-section{
	background-color: #34495E;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 3px solid gray;
}

.navpart-header,
.navbar-nav { 
   margin: 0 5%
 }

li:hover{
	background-color: lightgray;
}

#intro{
	color: #fff;
}

#intro h1{
	font-size: 57px;
	padding-top: 5%;
}

#intro h3{
	padding-bottom: 3%;
}
